body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url("back.avif");
    background-size: cover;
}
.container {
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0.7;
}   
.box{
    display: flex;
    flex-direction: column;
}
.container:hover {
    background-color: rgba(255, 0, 0, 0.3); /* Light red effect */
    transition: 0.3s ease-in-out;
    cursor: crosshair;
}
input::placeholder {
    font-size: 25px; /* Change size */
    font-weight: bold; /* Make it bold (optional) */
    color: gray; /* Change color (optional) */
    opacity: 1; /* Ensure full visibility */
}
.input-field {
    width: 90%;
    padding: 10px;
    font-size: 24px; /* Increases text size when user types */
    font-weight: bold;
}

.input-field::placeholder {
    font-size: 16px; /* Smaller placeholder text */
    color: gray;
    font-style: italic;
}
input, select, button {
    margin: 10px;
    padding: 38px;
    width: 90%;
}
button {
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: darkblue;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
